// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#registration-page form #hp {
	position: absolute;
	left: -1000%;
	opacity: 0%;
}