<template>
    <div class="container">
      <form enctype="multipart/form-data" >
        <div class="">
          <h3 style="color:red; margin: 10px 0;">{{uploadError}}&#160;</h3>
        </div>
        <div class="dropbox">
          <input ref="file" type="file" multiple :name="uploadFieldName"
            :disabled="isSaving()" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
            class="input-file">
            <p v-if="isInitial()">
              Drag your file here to begin<br> or click to browse
            </p>
            <p v-if="isSaving()">
              Uploading {{ fileCount }} file...<br/>
              <progress max="100" :value.prop="uploadPercentage"></progress>
            </p>
            <p v-if="isSuccess()">
              {{success}}
            </p>
        </div>
        <input type="hidden" name="original" v-model="original">
      </form>
  </div>
</template>

<!-- Javascript -->
<script>
  const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;
  const FileDownload = require('js-file-download');
   export default {
        mounted() {
            this.reset();
        },
        data() {
            return {
              uploadedFiles: [],
              uploadError: null,
              currentStatus: null,
              uploadFieldName: 'pdfFile',
              uploadPercentage: 0,
              original: '',
              success:''
            };
        },
        methods: {
            isInitial() {
              return this.currentStatus === STATUS_INITIAL;
            },
            isSaving() {
              return this.currentStatus === STATUS_SAVING;
            },
            isSuccess() {
              return this.currentStatus === STATUS_SUCCESS;
            },
            isFailed() {
              return this.currentStatus === STATUS_FAILED;
            },

            reset() {
              // reset form to initial state
              this.currentStatus = STATUS_INITIAL;
              this.uploadedFiles = [];
              this.uploadError = null;
              this.success = "";
            },
            processHTML(){
              const formData = new FormData();
			  const timestamp = new Date(); 
			  const currentdate = timestamp.toString();
			  formData.append("timestamp",currentdate);
              formData.append("name",$("#name").val());
			  formData.append("date",$("#date").val());
			  formData.append("time",$("#time").val());
              formData.append("mode",$("#mode").val());
              formData.append("source",$("#source").val());
			  formData.append("carrier",$("#carrier").val());
              formData.append("original",this.original);
              let settings = {
                headers: { 'Content-Type': 'multipart/form-data' },
              };
              axios.post('/postHTML',formData,settings).then(res => {
                this.currentStatus = STATUS_SUCCESS;
                this.success = "Report successfuly generated.";
				axios.get(res.data.url, { responseType: 'blob' })
					.then(response => {
						const blob = new Blob([response.data], { type: 'application/pdf' })
						const link = document.createElement('a')
						const name = res.data.name;
						const cause = (typeof res.data.cause !== "undefined")? res.data.cause : 'reports';
						if(cause == 'towers'){
							const dropdowner = document.getElementById('source');
							const options = dropdowner.options;
							document.querySelector('#source').value = 'towers';
						}
						link.href = URL.createObjectURL(blob);
						link.setAttribute('download', name);
						document.body.appendChild(link);
						link.click();
						URL.revokeObjectURL(link.href);
				});
              }).catch(error => {
                // handle error
                //this.currentStatus = STATUS_INITIAL;
				const err = error.response.data.values;
				this.reset();
				if(typeof err !== "undefined"){
					this.uploadError = err;
					const cause = (typeof error.response.data.cause !== "undefined")? error.response.data.cause : 'reports';
					console.log(cause);
					if(cause == 'towers'){
						const dropdowner = document.getElementById('source');
						const options = dropdowner.options;
						document.querySelector('#source').value = 'towers';
					}
				} else {
					this.uploadError = "There was an error generating this file, please try again with a different file.";
				}
              })
            },

            filesChange(fieldName, fileList) {
              // handle file changes
              const formData = new FormData();

              if (!fileList.length) return;

              // append the files to FormData
              Array
                .from(Array(fileList.length).keys())
                .map(x => {
                  formData.append(fieldName, fileList[x], fileList[x].name);
                });
              var newArray = Array.from(Array(fileList.length).keys());

              console.log(formData);
              console.log(formData.length);
              console.log(fieldName);
              console.log(fileList);
              console.log(newArray);

              for ( var key in newArray ) {
                  formData.append(fieldName, fileList[key],fileList [key].name);
              }
              // save it
			  const timestamp = new Date(); 
			  const currentdate = timestamp.toString();
			  formData.append("timestamp",currentdate);
              formData.append("name",$("#name").val());
			  formData.append("carrier",$("#carrier").val());
              formData.append("mode",$("#mode").val());
			  formData.append("source",$("#source").val());
			  formData.append("date",$("#date").val());
			  formData.append("time",$("#time").val());
              this.save(formData);
            },
            save(formData) {
              // upload data to the server
              this.currentStatus = STATUS_SAVING;
              let settings = {
                headers: { 'content-type': 'multipart/form-data' },
                onUploadProgress: function( progressEvent ) {
                  this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                }.bind(this)
              };
              axios.post('/postPDF',formData,settings).then(res => {
                this.uploadError = null;
                this.currentStatus = STATUS_SUCCESS;
                this.original = res.data.original;
                this.status = (typeof res.data.status !== "undefined")? res.data.status : null;
                this.message = (typeof res.data.message !== "undefined")? res.data.message : null;
				console.log(res.data);
				if('large'===this.original){
					this.success = "File uploaded successfully.  This file is large, it will take us some time to process.  You will receive the final file in your email as soon as it is completed.";
				} else if('response'===this.original){
					if(this.status === 'error'){
						this.reset();
						this.uploadError = (typeof this.message !== "undefined")? this.message : "There was an error processing this file, please refresh and try again with a different file.";
					} else {
						this.success = (typeof this.message !== "undefined")? this.message : "There was an error processing this file, please refresh and try again with a different file.";
					}
				} else {
					this.success = "File uploaded successfully, processing...";
					this.processHTML();
				}
              }).catch(error => {
                // handle error
                //this.currentStatus = STATUS_INITIAL;
                this.reset();
                this.uploadError = "There was an error processing this file, please refresh and try again with a different file.";
                console.log(error);
              })
            }

        }
    }

</script>

<!-- SASS styling -->
<style lang="scss">
  .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }

  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }

  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
</style>