<div style="top: {{bg-top}}pt;position: absolute;left:15pt;width: 765pt;height: 31pt;background-color: black;">&#160;<div></div></div>
<p style="top:{{row-top}}pt;left:17pt; color:white;line-height:31pt" width: 700px;><b><span style="font-family:Tahoma,sans-serif;font-size:14pt; display:inline-block; width: 500px; padding-left: 10px;">{{day}} <span style="font-family:Tahoma,sans-serif;font-size:12pt; display:inline-block; font-weight:normal"> ({{day_items}})</span></span></b></p>