<p style="top:13pt;left:17pt; width:500pt;white-space:nowrap;"><b><span style="font-family:Tahoma,sans-serif;font-size:12pt;">Phone &amp; Location Report  </span></b><span style="font-family:Tahoma,sans-serif;font-size:12pt;white-space:nowrap;">{{phone_number}} (cont. - {{date_cont}})</span></p>
<p style="top:34pt;left:20pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Local Time</span></b></p>
<p style="top:34pt;left:93pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Activity</span></b></p>
<p style="top:34pt;left:168pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">From</span></b></p>
<p style="top:34pt;left:264pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">To</span></b></p>
<p style="top:34pt;left:406pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Duration</span></b></p>
<p style="top:34pt;left:474pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Location During Call (Start/End)</span></b></p>
<p style="top:34pt;left:657pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Date</span></b></p>
<div style="top:40pt;position: absolute;left:20pt;width: 760pt;height: 1pt;background-color: #808080;">&#160;<div></div></div>