<p style="top:18pt;left:21pt;"><b><span style="font-family:Tahoma,sans-serif;font-size:15pt;">{{report_title}}</span></b><span style="font-family:Tahoma,sans-serif;font-size:14pt;"> {{total_phone}}</span></p>
<p style="width:500px; top:40pt; left:21pt;"><span style="width:500px; font-family:Tahoma,sans-serif;font-size:10pt;">{{total_from}} to {{total_to}} ({{total_duration}})</span></p>
<p style="width:500px; top:60pt; left:21pt;"><span style="width:500px; font-family:Tahoma,sans-serif;font-size:10pt;"><span style="font-weight: bold">Incident Date & Time:</span>&nbsp;{{incident_date}}&nbsp;{{incident_time}}</span></p>
<p style="width:500px; top:75pt; left:21pt;"><span style="width:500px; font-family:Tahoma,sans-serif;font-size:10pt;"><span style="font-weight: bold">Device:</span>&nbsp;{{device}}</span></p>

<p style="top:18pt;left:420pt; width:350px;"><span style="font-family:Tahoma,sans-serif;font-size:10pt;font-weight:bold;">{{carrier}} Records: {{total_records}}</span></p>
<p style="top:40pt;left:420pt; width:150px;"><span style="font-family:Tahoma,sans-serif;font-size:9pt;">Voice..........................</span></p>
<p style="top:40pt;left:503pt; width:30px; text-align:right;"><span style="font-family:Tahoma,sans-serif;font-size:9pt; text-align:right;">{{total_voice}}</span></p>
<p style="top:51pt;left:420pt; width:150px;"><span style="font-family:Tahoma,sans-serif;font-size:9pt;">Text.............................</span></p>
<p style="top:51pt;left:503pt; width:30px; text-align:right;"><span style="font-family:Tahoma,sans-serif;font-size:9pt; text-align:right;">{{total_text}}</span></p>
<p style="top:62pt;left:420pt; width:150px;"><span style="font-family:Tahoma,sans-serif;font-size:9pt;">Data............................</span></p>
<div style="top:5pt; right:130pt; position: absolute;"><img src="http://beta.cell.ninja/images/logo.png" height="95px;" width="auto"/></div>
<p style="top:62pt;left:503pt; width:30px; text-align:right;"><span style="font-family:Tahoma,sans-serif;font-size:9pt; text-align:right;">{{total_data}}</span></p>
<p style="top:97pt;left:20pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Local Time</span></b></p>
<p style="top:97pt;left:93pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Activity</span></b></p>
<p style="top:97pt;left:168pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">From</span></b></p>
<p style="top:97pt;left:264pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">To</span></b></p>
<p style="top:97pt;left:406pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Duration</span></b></p>
<p style="top:97pt;left:474pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Location During Call (Start/End)</span></b></p>
<p style="top:97pt;left:657pt; color: #666;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;">Date</span></b></p>
<div style="top: 104pt;position: absolute;left:20pt;width: 760pt;height: 1pt;background-color: #808080;">&#160;<div></div></div>