<div style="top: {{bg-top}}pt;position: absolute;left:15pt;width: 765pt;height: 20pt;background-color: #eee;">&#160;<div></div></div>
<p style="top:{{row-top}}pt;left:17pt; width:300pt;"><b><span style="font-family:Tahoma,sans-serif;font-size:11pt;">{{hour}}</span></b><span style="font-family:Tahoma,sans-serif;font-size:11pt;"> ({{hour_items}} {{events}})</span></p>
<p style="top:{{row-top}}pt;left:461pt;white-space:nowrap;"><img src="http://beta.cell.ninja/images/gmap.png" height="20pt;" width="20pt"/><span style="font-family:Tahoma,sans-serif;font-size:10pt;padding-left:15pt">Click location for tower map</span></p>
<p style="top:{{row-top}}pt;right:15pt;white-space:nowrap;"><span style="font-family:Tahoma,sans-serif;font-size:10pt;">{{day}}</span></p>