<p style="top:{{row-top}}pt;left:93pt;"><span style="font-family:Verdana,sans-serif;font-size:10pt;">Text</span></p>
<p style="top:{{row-top}}pt;left:19pt;"><b><span style="font-family:Tahoma,sans-serif;font-size:10pt;">{{date_start}}</span></b></p>
<p style="top:{{row-top2}}pt;left:19pt;"><span style="font-family:Tahoma,sans-serif;font-size:7pt;">to {{date_end}} {{timezone}}</span></p>
<p style="top:{{row-top3}}pt;left:18pt;"><span style="font-family:Tahoma,sans-serif;font-size:7pt;">({{item}})</span></p>
<p style="top:{{row-top}}pt;left:168pt;"><span style="font-family:Verdana,sans-serif;font-size:10pt;white-space:nowrap;">{{origin_p}}</span></p>
<p style="top:{{row-top}}pt;left:264pt;"><span style="font-family:Verdana,sans-serif;font-size:10pt;white-space:nowrap;">{{term_p}}</span></p>
<p style="top:{{row-top3}}pt;left:418pt;"><span style="font-family:Verdana,sans-serif;font-size:10pt;">Towers -</span></p>
<p style="top:{{row-top}}pt;left:486pt;"><span style="font-family:Verdana,sans-serif;font-size:9pt;white-space:nowrap;"><a style="text-decoration: none; color: black;"  target="_blank" href="{{loc_link_first}}">{{loc_start}} {{dir_start}}</a></span></p>
<p style="top:{{row-top2}}pt;left:486pt;"><span style="font-family:Verdana,sans-serif;font-size:9pt;white-space:nowrap;"><a style="text-decoration: none; color: black;"  target="_blank" href="{{loc_link_last}}">{{loc_end}}</a> {{dir_end}}</span></p>
<p style="top:{{row-top}}pt;left:716pt;"><b><span style="font-family:Verdana,sans-serif;font-size:10pt;"> &#160;</span></b></p>