<!DOCTYPE html>
<html>
<head>
<style>
body{background-color:white; overflow:hidden;}
div{position:relative;background-color:white;margin:1em auto}
p{position:absolute;margin:0}
img{position:absolute}
</style>
</head>
<body>
<div style="width:792pt;height:572pt">    
    {{REPLACE}}
    <div style="top: 567pt;position: absolute;left:10pt;width: 772pt;height: 25pt;background-color: #eee;">&#160;<div></div></div>
    <p style="top:582pt;left:13pt;"><b><span style="font-family:Tahoma,sans-serif;font-size:10pt;">www.Cell.Ninja  {{report_title}} | Confidential</span></b><span style="font-family:Tahoma,sans-serif;font-size:10pt;"></span></p>
	<p style="top:582pt;right:127pt;"><b><span style="font-family:Tahoma,sans-serif;font-size:10pt;">Run Time: {{run_time}}</span></b><span style="font-family:Tahoma,sans-serif;font-size:10pt;"></span></p>
    <p style="top:582pt;right:13pt;"><b><span style="font-family:Tahoma,sans-serif;font-size:10pt;">Page {{current_page}} of {{total_pages}}</span></b></p>
</div>

</body>
</html>
